ul {
    list-style: none;
  }
  
  li.done {
    text-decoration: line-through;
  }
  
  .account-item > * {
    margin-right: 1rem;
  }
  .vl {
    border-left: 6px solid gray;
    height: 50px;
  }